$pale_gray: #f3f3f3;
$light_gray: #777;
$dark_gray: #444;
$teko_blue: #c5e6fc;
$error_red: #f00;
$success_green: #070;

@font-face {
  font-family: "Source Code Pro";
  src: url("/static/font/SourceCodePro-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/static/font/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
}

h1, h2, h3, p, a {
  font-family: "Open Sans", sans-serif;
}

.code-runner {
  position: relative;
}

.code {
  font-family: "Source Code Pro", monospace;
  white-space: pre;
  position: relative;
  border: none;
  padding: 0;
  overflow-y: scroll;
  font-size: 14px;
  background-color: $pale_gray;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.code::-webkit-scrollbar {
  display: none;
}

.code-input {
  height: 300px;

  textarea {
    width: 100%;
    padding-top: 3px;
    padding-left: 50px;
    padding-right: 0;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    color: $dark_gray;
    background: transparent;
  }
}

.run-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: transparent;
  padding: 5px 10px;
  outline: none;

  &:focus {
    outline: none;
  }
}

.line-numbers {
  position: absolute;
  text-align: right;
  top: 3px;
  width: 40px;
  color: $light_gray;
}

.code-output {
  padding: 10px 20px;
  margin-top: 10px;
  max-height: 150px;
}

.runtime-error {
  color: $error_red;
}

.success-notif {
  position: absolute;
  right: 20px;
  top: 10px;
  color: $success_green;
}

.lesson {
  height: 100vh;
}

.lesson-panel {
  background-color: $teko_blue;
}

.lesson-list-item {
  padding-left: 20px;
  position: relative;

  a {
    color: $dark_gray;

    &:hover {
      text-decoration: none;
      font-weight: 600;
    }
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    color: $dark_gray;
    font-size: 24px;
    cursor: pointer;
  }
}
